@import '../../base';

.home {
    max-width: 1280px;
    margin: auto;

    .thumbnail {
        position: relative;

        .image-cover {
            width: 100%;  
            height: 500px;
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .shadow {
            background: -webkit-linear-gradient(top,rgba(17,17,17,0),#111111);
            background: -moz-linear-gradient(top,rgba(17,17,17,0),#111111);
            width: 100%;
            max-width: 1280px;
            height: 250px;
            position: absolute;
            bottom: 0;
        }

        .cover-text {
            position: absolute;
            bottom: 0;
            font-size: 50px;
            margin-left: 10px;
        }

    }

    .categories {
        display: flex;
        justify-content: center;
        margin: 20px 0 20px 0;
        button {
            @include button;
        }
    }

    .posts-wrapper {

        .posts {

            img {
                width: 30%;
                height: 300px;
            }
        }
    }
}

