@import '../../base';

.navbar {
    border-bottom: 1px solid white;
    position: fixed;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 1;

    .navbar-content {
        display: flex;
        max-width: 1280px;
        margin: auto;
        align-items: center;
        height: 80px;

        .logo {
            width: 50px;
        }
    }

    p {
        margin: 0px 20px;
        font-size: 18px;
    }
    
    .user-area {
        display: flex;
        margin-left: auto;
        align-items: center;
        
        .button {
            @include button;
        }

        .user-margin {
            padding-left: 15px;
            color: white;
        }
    }
}