.navbar {
    .navbar-content {
        display: flex;
        max-width: 1280px;
        margin: auto;
        align-items: center;
        height: 60px;
    }

    .search-bar {
        padding: 0 16px;
    }
    
    .user-area {
        display: flex;
        margin-left: auto;

        .user-margin {
            padding: 0 8px;
        }
    }
}